header{
	position: fixed;
	display: flex;
	padding: 32px 100px 90px 64px;
	z-index: 10;
}
.nav-ul{
	width: 500px;
	margin-left: 600px;
	display: flex;
	justify-content: space-between;
}
.active{
	font-family: 'Lato', sans-serif;
	color: #3D37F1;
	font-size: 20px;
}
.nav-list{
	font-family: 'Lato', sans-serif;
	color: #3D37F1;
	font-size: 20px;
/*	margin-left: 20px;*/
}
/*header end*/
/*section 1*/
.section{
	padding-top: 300px;
}
.section-container{
	width: 1170px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
.title{
	line-height: 1.8;
	width: 400px;
	font-size: 50px;
	font-family: 'Lato', sans-serif;
}
.text{
	margin-top: 42px;
	margin-bottom: 83.9px;
	font-family: 'Roboto';
	width: 400px;
	font-size: 12px;
}
.waveme{
	color: #FFF;
	font-size: 23px;
	font-family: 'Poppins';
}
.waving{
	border-radius: 38px;
	padding: 23px;
	width: 200px;
	height: 70px;
	background-color: #3D37F1;
}
.hand{
	width: 30px;
	height: 30px;
}
.left-box{
	height: 526.63px;
	width: 400px;
}
.image2{
	height: 526.63px;
	width: 701px ;
}
.waving2{
	align-items: center;
	display: flex;
	justify-content: space-between;
}
/*section1 end*/
/*section 2*/
/*topblock*/
.section2{
	margin-top: 200px;
}
.section2-container{
	width: 1170px;
	margin: 0 auto;
}
.box-title{
	width: 600px;
	margin: 0 auto;
}
.title5{
	text-align: center;
	font-size: 15px;
	font-family: 'Lato', sans-serif;
	color: #3D37F1;
}
.toptitle{
	margin-top: 17px;
	margin-bottom: 20px;
	text-align: center;
	width: 550px;
	font-family: 'Lato', sans-serif;
	font-size: 35px;
}
.toptext{
	width: 600px;
	text-indent: 8px;
	font-family: 'Roboto';
	font-size: 10px;
	color: #747474;
}
.topblock{
	margin-top: 50px;
	margin-bottom: 100px;
	display: flex;
	justify-content: space-around;
}
.orange{
	padding: 50px 10px 25px;
	width: 300px;
	height: 320px;
	background-color: #FBBA77;
}
.navyblue{
	padding: 40px 10px 25px;
	width: 300px;
	height: 320px;
	background-color: #41EAE3;
}
.purple{
	padding: 40px 10px 25px;
	width: 300px;
	height: 320px;
	background-color: #69529F;
}
.readmore{
	border-width: 0.5px;
	border-color: #FFF;
	border-style: solid;
	margin: 0 auto;
	width: 80px;
	height: 35px;
	border-radius: 23px;
	padding: 10px;
}
.rm{
	color: #FFF;
	font-size: 12px;

}
.title3{
	text-align: center;
	margin-top: 35px;
	margin-bottom: 12px;
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	color: #FFF;
}
.paragraph{
	text-indent: 8px;
	line-height: 1.2;
	margin: 0 40px 12px;
	width: 180px;
	font-size: 10px;
	font-family: 'Roboto';
	color: #FFF;
}
/*topblock end*/
/*bottomblock*/
.blue{
	padding: 50px 10px 25px;
	width: 300px;
	height: 320px;
	background-color: #4386D2;
}
.navypurple{
	padding: 60px 10px 25px;
	width: 300px;
	height: 320px;
	background-color: #A5A2F6;
}	
.red{
	padding: 50px 10px 25px;
	width: 300px;
	height: 320px;
	background-color: #FF8088;
}
.bottomblock{
	display: flex;
	justify-content: space-around;
}
.readmore:hover{
	background-color: #FFF;
}
.rm:hover{
	color: black;
}